<%= form_for(@paste) do |f| %>
  <% if @paste.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@paste.errors.count, "error") %> prohibited this paste from being saved:</h2>

      <ul>
      <% @paste.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
<div class="field">
    <%= f.label :filename %><br />
    <%= f.text_field :filename %>
  </div>
  <div class="field ">
    <%= f.label :nick %><br />
    <%= f.text_field :nick %>
  </div>
<div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body,:id => "message_area", :cols => 80, :rows => 50 %>
  </div>
  <div class="actions">
    <%= f.submit 'Save' %>
  </div>
<% end %>
