<%= form_for @paste, :html => { :class => 'form-inline' } do |f| %>
  <div class="row">
    <div class="span4">
      <div class="control-group">
        <%= f.label :filename, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :filename, :class => 'text_field', :placeholder=>"File name" %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :nick, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :nick, :class => 'text_field', :placeholder=>"Nick" %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :title, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :title, :class => 'text_field', :placeholder=>"Title" %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :encoding, "Syntax", :class => 'control-label' %>
        <div class="controls">
          <%= f.select :encoding,Paste::LANG, :class => 'text_field' %>
        </div>
      </div>
    </div>
    <div class="span8">
      <div class="control-group">
        <%= f.label :body,"Text to paste", :class => 'control-label' %>
        <div class="controls">
          <div class="editor textarea" id="editor"></div>
          <%= f.text_area :body, :class => '', :placeholder => "Your code", rows: 4, cols: 4 %>
        </div>
      </div>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit "Save", :class => 'btn btn-primary' %>
  </div>
<% end %>
