<%= form_for(@paste) do |f| %>
  <% if @paste.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@paste.errors.count, "error") %> prohibited this paste from being saved:</h2>

      <ul>
      <% @paste.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field" id="properties">
    <%= f.label :title %>:
    <%= f.text_field :title, :size => 10 %>

    <%= f.label :filename %>:
    <%= f.text_field :filename, :size => 10 %>

    <%= f.label :nick %>:
    <%= f.text_field :nick, :size => 10 %>
	Syntax highlight:
	<%=  f.select(:encoding, Paste::LANG.keys, )%>
	</div>
<div class="field">
    <%= f.text_area :body,:id => "message_area", :cols => 80, :rows => 25 %>
  </div>
  <div class="actions">
    <%= f.submit 'Save' %>
  </div>
<% end %>
