<% if notice %>
  <div class="alert alert-success">
    <a class="close" data-dismiss="alert">×</a>
    <%= content_tag :div, notice, :id => "flash_success" %>
  </div>
<% end %>
<% model_class = Paste %>
<div class="page-header" id="data" syntax="<%= @syntax %>">
  <h1>
    <%= @paste.title %>
  </h1>
</div>
<div class="row-fluid">
  <div class="span2">
    <strong>
      <%= model_class.human_attribute_name(:filename) + ':' %>
    </strong>
    <%= @paste.filename %>
  </div>
  <div class="span2">
    <strong>
      <%= model_class.human_attribute_name(:nick) + ':' %>
    </strong>
    <%= @paste.nick %>
  </div>
  <div class="span2">
    <strong>
      <%= model_class.human_attribute_name(:title) + ':' %>
    </strong>
    <%= @paste.title %>
  </div>
  <div class="span2">
    <strong>
      <%= model_class.human_attribute_name(:encoding) + ':' %>
    </strong>
    <%= @paste.encoding %>
  </div>
  <div class="span2">
    <strong>
      <%= model_class.human_attribute_name(:size) + ':' %>
    </strong>
    <%= @paste.size %>
    <br/>
  </div>
</div>
<div class="row-fluid">
  <div class="offset1 span8 editor well" id="editor">
    <%= @html %>
  </div>
</div>
<div class="form-actions">
  <%= link_to "New Paste", new_paste_path, :class => "btn btn-primary " %>
  <% if @current_user.admin? %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_paste_path(@paste.key), :class => 'btn' %>
  <% end %>
</div>
