<% if notice%>
	<p id="notice"><%= notice %></p>
<%end%>
<div id="paste-wrapper">
	<div id="details">
		<% unless @paste.title %>
		<div id="filename">
			<b>Title:</b>
			<%= @paste.title %>
		</div>
		<% end %>
		<% unless @paste.nick %>
		<div id="nick">
			<b>Nick:</b>
			<%= @paste.nick %>
		</div>
		<% end %>
	</div>
	<div id="code">
		<%= raw @html %>
	</div>
	<div class="links">
		<%= link_to 'Create New Paste', new_paste_path %>
		<% if @current_user.admin?%>
			| <%= link_to 'Edit', edit_paste_path(@paste) %> |
			<%= link_to 'Back', pastes_path %> 
		<%end%>
	</div>
</div>






