<% if notice%>
<p id="notice"><%= notice %></p>
<%end%>
<div id="paste-wrapper">
	<div id="details">
		<% unless @paste.filename.blank? %>
		<div id="filename">
			<b>Filename:</b>
			<%= @paste.filename %>
		</div>
		<% end %>
		<% unless @paste.nick.blank? %>
		<div id="nick">
			<b>Nick:</b>
			<%= @paste.nick %>

		</div>
		<% end %>
		<% unless @paste.title.blank? %>
		<div id="size">
			<b>Size:</b>
			<%= @paste.size %>
		</div>
		<% end %>
		<% unless @paste.encoding.blank? %>
		<div id="size">
			<b>Syntax highlight:</b>
			<%= @paste.encoding %>
		</div>
		<% end %>

		<% unless @paste.title.blank? %>
		<br>
		<div id="title">
			<b>Title/Description:</b>
			<%= @paste.title %>
		</div>
		<% end %>
	</div>
	<div id="code">
		<%= raw @html %>
	</div>
	<div class="links">
		<%= link_to 'Create New Paste', new_paste_path %>
		<% if @current_user.admin?%>
		| <%= link_to 'Edit', edit_paste_path(@paste.key) %> |
		<%= link_to 'Back', pastes_path %> 
		<%end%>
	</div>
</div>






