<p id="notice"><%= notice %></p>

<div id="paste-wrapper">
	<div id="details">
		<div id="filename">
			<b>Filename:</b>
			<%= @paste.filename %>
		</div>
		<div id="nick">
			<b>Nick:</b>
			<%= @paste.nick %>
		</div>
	</div>
	<div id="code">
		<%= raw @html %>
	</div>
</div>





<%= link_to 'Edit', edit_paste_path(@paste) %> |
<%= link_to 'Back', pastes_path %>
